/*
* @Author: Marte
* @Date:   2017-07-26 10:03:17
* @Last Modified by:   Marte
* @Last Modified time: 2017-07-26 11:53:38
*/
/* 产品详情 */
div.productDetailDiv {
    width: 790px;
    margin: 40px auto;
}
div.productDetailTopPart {
    border: 1px solid #DFDFDF;
    border-left-width: 0px;
}
a.selected {
    border-left: 1px solid #cfbfb1;
    border-right: 1px solid #cfbfb1;
    color: #b10000;
    display: inline-block;
    font-weight: bold;
    line-height: 46px;
    width: 90px;
    text-align: center;
    position: relative;/*为了给下一步的：before新增加的元素做绝对定位*/
}
a.selected:before {
    border: 1px solid #b00000;
    content: "";
    display: block;
    width: 90px;
    height: 0;
    position: absolute;
    top: -1px;
    margin-left: -1px;
}
/*通过边框来做美人尖*/
a.selected:after {
    border-color: #b00000 transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -1px;
    left: 50%;
    margin-left: -5px;
}
a.productDetailTopReviewLink {
    padding: 0px 20px;
    border-right: 1px dotted #D2D2D2;
    color: #333333;
}
span.productDetailTopReviewLinkNumber {
    color: #3355B9;
}
div.productParamterPart {
    border: 1px solid #DFDFDF;
    padding: 40px;
}
div.productParamter {
    color: #999999;
    font-weight: bold;
    margin-bottom: 20px;
}
div.productParamterList span {
    display: block;
    width: 220px;
    float: left;
    padding: 8px 0px;
    color: #666666;
}
div.productDetailImagesPart img {
    display: block;
    margin: 20px 0;
    width: 790px;
}
body{
    font-size: 12px;
    font-family: Arial;
}
a:hover{
    text-decoration: none;
    color: #c40000;
}